<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <% @questions.each do |question| %>
          <div class="panel-heading"><strong style="font-size: 17px;">My Info</strong> <em><small><%= link_to '[Modify]', edit_question_path(question) %></small></em></div>
          <table class="table">
          <thead>
            <tr>
              <th>How many bank accounts do you use?</th>
              <th>How many credit cards do you use?</th>
              <th>Does your company have loans?</th>
            </tr>
          </thead>
        
          <tbody>
            
              <tr>
                <td><%= question.question_1 %></td>
                <td><%= question.question_2 %></td>
                <td><%= question.question_3 %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>      
    </div>
  </div>
</div>
