<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Book a Meeting</h2>
    </div><!-- end col-md-12 -->
  </div><!-- end row -->
  <div class="row">
    <div class="col-md-12">
      <% @meetings.each do |meeting| %>
      <div class="well well-lg">
        <h4>Book a meeting with <%= meeting.bookkeeper_name %></h4>
        <p>
          <%= link_to meeting, class: "btn btn-primary btn-lg active" do %>
            <i class="fa fa-calendar"></i> Show <%= meeting.bookkeeper_name %>'s Calendar
          <% end %>
        </p>  
        <% if current_user.admin? %>
          <p><%= link_to 'Edit', edit_meeting_path(meeting) %></p>
          <p><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
      
        
        
    <% end %>
    </div><!-- end col-md-12 -->
  </div><!-- end row -->
  <%= link_to 'New Meeting', new_meeting_path if current_user.admin? %>
</div><!-- end container -->


