<%= simple_form_for(@document) do |f| %>

  <div class="form-inputs">
    <% if current_user.admin? %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :requested_by %>
      <%= f.input :due_date_by, :as => :date_picker %>
      <%= f.input :verified_by_bookkeeper, 
                            :as => :select, 
                            :collection => [['No',false],['Yes',true]], 
                            :include_blank => false, 
                            :label => "Verified by Bookkeeper?" %>
    <% end %>
    
    <p style="margin-top: 30px;"><small><em>Please choose one of the following options. Select "Yes" if you wish to send documents by mail, or upload document below.</em></small></p>
    <%= f.input :mail_instead, :as => :select, 
                          :collection => [['No',false],['Yes',true]], 
                          :include_blank => false, 
                          :label => "Mail instead?" %>
                              
    <%= f.input :attachment, input_html: { hidden: true }, label: 'Upload Attachment' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
