<div class="container">
    <% @documents.each do |document| %>
        <% if document.present? %>
            <% if document.attachment.blank? %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="document-alert document-alert-warning text-center">
                            <h5><%= document.requested_by %> have requested <em><%= document.title %></em> document from you. Please go <%= link_to 'here', documents_path %> and upload it!</h5>    
                        </div>
                        
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome, <%= current_user.name %></h2>
        </div><!-- end col-md-12 -->
    </div><!-- end row -->
    
    
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <p>Revenue (per year)</p>
            <div id="myfirstchart" style="height: 250px;"></div>
            <script>
                new Morris.Line({
                      // ID of the element in which to draw the chart.
                      element: 'myfirstchart',
                      // Chart data records -- each entry in this array corresponds to a point on
                      // the chart.
                      data: [
                        { year: '2008', revenue: 20000 },
                        { year: '2009', revenue: 10000 },
                        { year: '2010', revenue: 5000 },
                        { year: '2011', revenue: 5000 },
                        { year: '2012', revenue: 20000 }
                      ],
                      // The name of the data record attribute that contains x-values.
                      xkey: 'year',
                      // A list of names of data record attributes that contain y-values.
                      ykeys: ['revenue'],
                      // Labels for the ykeys -- will be displayed when you hover over the
                      // chart.
                      labels: ['Revenue']
                    });
            </script>
        </div>
    </div>
    
    
     <div class="row" style="margin-top: 50px;">
        <div class="col-md-6">
            <p>
                <%= link_to documents_path, class: "btn btn-primary btn-lg btn-block" do %>
                    <i class="fa fa-cloud-upload"></i> Upload a Document
                <% end %>
            
            </p>    
        </div><!-- end col-md-6 -->
        
        <div class="col-md-6">
            <p>
                <%= link_to meetings_path, class: "btn btn-success btn-lg btn-block" do %>
                    <i class="fa fa-calendar-check-o"></i> Book a Meeting
                <% end %>
            </p>    
        </div><!-- end col-md-6 -->
    </div><!-- end row -->
    
    
    <div class="row">
        <div class="col-md-12">
            
            
            <h3>Instructions:</h3>
            <p>Create a new message, and mark it as 'false' for being available for public</p>
            <p>Logout</p>
            <p>Login again as the client@mail.com and go to Messages. You won't be able to see that message.</p>
            <br>
            <br>
            <br>
            <br>
            <p>Two buttons will be here on the home page: <br>
                <ul>
                    <li>Upload Document - DONE</li>
                    <li>Book Apointment - DONE</li>
                </ul>
            </p>
            <p>
        ADD -> user roles to messages:<br>
        <ul>
            <li>Add user roles: client_admin & client - DONE</li>
            <li>Client_admin: full access - DONE</li>
            <li>client: limited access - DONE</li>
            <li>Add Private/Public message (availalbe only for client_admin to choose) - DONE</li>
        </ul>
    </p>
    <p>
        ADD -> upload documents:<br>
        <ul>
        <li>Customer can't upload documents on their own, the request has to come from Bookkeeper</li>
        <li>Customer authorization: customer CAN see the requests for documents; CAN update existing request with the file that has been requested</li>
        <li>Customer CAN'T: create new upload document form; delete any requests;</li>
        <li>Bookkeeper authorization: CAN create new document request; CAN delete requests, CAN update requests;</li>
        </ul>
    </p>
    
    <p>
        ADD onboarding process extra fields:<br>
        <ul>
            <li>Add "For-Profit | Non-Profit"</li>
            <li>Add "What industry are you in?" dropdown menu on the first onboarding </li>
        </ul>
    </p>
            <p>
                Here you can communicate with your bookkeeper, team lead, administative staff etc.
            </p>            
        </div>
    </div>
</div>

