<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= render 'layouts/user_nav' %>
<% elsif bookkeeper_signed_in? %>
  <%= render 'layouts/bookkeeper_nav' %>
<% else %>
  <%= render 'layouts/general_nav' %>
<% end %>

<%= yield %>

</body>
</html>
