<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :name_on_card %><br>
    <%= f.text_field :name_on_card %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br>
    <%= f.text_field :expiry %>
  </div>
  <div class="field">
    <%= f.label :cvc %><br>
    <%= f.text_field :cvc %>
  </div>
  <div class="field">
    <%= f.label :billing_posta_code %><br>
    <%= f.text_field :billing_posta_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
