<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Card number</th>
      <th>Name on card</th>
      <th>Expiry</th>
      <th>Cvc</th>
      <th>Billing posta code</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.company_name %></td>
        <td><%= account.phone_number %></td>
        <td><%= account.address %></td>
        <td><%= account.card_number %></td>
        <td><%= account.name_on_card %></td>
        <td><%= account.expiry %></td>
        <td><%= account.cvc %></td>
        <td><%= account.billing_posta_code %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
