<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Lets Get Started!</h3>
        </div>
        <div class="panel-body">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            
        
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% end %>
        </div>
        <div class="panel-footer"><%= render "users/shared/links" %></div>
      </div> <!-- panel end -->
      </div>
      
      <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Questions? We're here to help.</h3>
        </div>
        <div class="panel-body">
          <p>Not ready to sign up yet? We have a great team of bookkeeping advisors ready to answer any of your questions about working with Mothers Bookkeeping or bookkeeping in general.</p>
           
           <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                  <%= link_to 'Questions?', pages_faq_path, class: "btn btn-default btn-lg btn-block" %>  
                </div>
             </div>
             <div class="col-md-6">
               <%= link_to 'Live Chat', '#', class: "btn btn-default btn-lg btn-block" %>
             </div>
           </div> <!-- row in panel end -->
        </div>
      </div>
      </div> <!-- col md 4 end -->
    </div>
  </div>
  